<div class="componente-uno">
  <div class="header-detail-product" id="col-comp-one">
    <div class="fullpage-detail" id="home-fullscreen-bg">
      <img [src]="product.image.url" [alt]="product.image.alt" >
      <div class="container">
        <!-- TITULO/SUBTITULO VIAJE SELECCIONADO -->
        <div class="principal-title text-center">
          <h1>{{product.title}}</h1>
          <h4>A bordo del {{product.cruise}} de {{product.company}}</h4>
        </div>
        <!-- CALUGA RESUMEN VIAJE CRUCERO -->
        <div class="box-product-container">
          <app-price-block
          [day]="product.days"
          [mainPrice]="product.price.main"
          [discount]="product.discount"
          [secondPrice]="product.price.second"
          ></app-price-block>
        </div>
        <!-- PESTAÑA DESCUBRIR A ITINENARIO -->
        <div class="discover-container">
          <div class="discover" (click)="scroll(blockItinerary)">
            <span>descubrir</span>
            <i class="cch-arrow-down"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div #blockItinerary class="componente-dos">
  <div class="description-detail-product" id="col-comp-two">
    <div class="container">
      <div class="itinerary">
        <!-- TITULO ITINERARIO -->
        <div class="title-line text-center">
          <span>itinerario</span>
        </div>
        <!-- DESCRIPCION ITINERARIO -->
        <div class="itinerary-description">
          <div class="itinerary-description-container text-center">
            <p>{{product.description}}</p>
          </div>
        </div>
        <!-- SUBTITULO ITINERARIO -->
        <div class="destiny">
          <!-- SUBTITLO -->
          <div class="subtitle-product text-center">
            <h3>Destinos recorridos</h3>
          </div>
          <!-- RECORRIDO -->
          <div class="line-itinerary-container">
            <!-- linea -->
            <div class="line"></div>
            <!-- lugar -->
            <div class="place-line text-center" *ngFor="let destiny of product.destinations">
              <!-- puntos -->
              <div class="point-itinerary"></div>
              <!-- ciudad -->
              <div class="name-city-point">
                <span>{{destiny.city}}</span>
              </div>
              <!-- pais -->
              <div class="name-country-point">
                <span>{{destiny.country}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MAPA ITINERARIO -->
<div class="map-itinerary">
  <img src="assets/img/Desktop/mapa-desktop.jpg" alt="">
</div>

<!-- IMAGENES ITINENARIO DIA A DIA -->
<div class="componente-tres">
  <div class="itinerary-img-container">
    <app-itinerary-block [itinerary]="product.itinerary" ></app-itinerary-block>
  </div>
</div>

<!-- DETALLES CRUCEROS -->
<!-- <div id="bodyOnBoard">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="home-titles">
          <h2>A BORDO</h2>
        </div>
        <div class="subtitles">
          <h3>A propósito del barco</h3>
        </div>
        <div class="cruisesImages">
          <ui-carousel #uiCarousel [infinite]="false" [dots]="false" [fade]="false" height="450px" [speed]="1000">
            <ui-carousel-item *ngFor="let img of product.images; let i = index">
              <img class="imgCarousel" [src]="img.url" alt="img.alt" draggable="false">
            </ui-carousel-item>
            <span class="textImg imgLegend">Texto de prueba</span>
            <span class="textImg imgCount">{{i+1}}/{{product.images.length}}</span>
          </ui-carousel>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div #blockOnBoard class="componente-cuatro">
  <div class="on-board-product" id="col-comp-four">
    <div class="container">
      <div class="on-board">
        <!-- TITULO ITINERARIO -->
        <div class="title-line text-center">
          <span>A bordo</span>
        </div>
        <div class="subtitle-product text-center">
          <h3>A propósito del barco</h3>
        </div>
        <div class="cruisesImages">
          <ui-carousel #uiCarousel [infinite]="true" [dots]="false" [fade]="false" height="450px" [speed]="5000">
            <ui-carousel-item *ngFor="let img of product.images; let i = index">
              <img class="imgCarousel" [src]="img.url" alt="img.alt" draggable="false">
              <span class="textImg imgCount"><i class="cch-amenities-excursion"></i> {{i+1}}/{{product.images.length}}</span>
            </ui-carousel-item>
            <span class="textImg imgLegend">{{product.cruise}} de {{product.company}}</span>
          </ui-carousel>
        </div>
        <div class="amenities-container-cruise">
          <div class="box-amenities" *ngFor="let amenity of product.amenities">
            <span><i [class]="amenity.icon"></i> {{amenity.text}}</span>
          </div>
        </div>
        
        <div class="subtitle-product text-center">
          <h3>A propósito de las cabinas</h3>
        </div>
        <div class="box-info-cabin">
          <div class="menu-type-cabin">
            <button class="border-radius-left active">
              <span>internas</span>
            </button>
            <button class="border-radius-center">
              <span>con vista al mar</span>
            </button>
            <button class="border-radius-center">
              <span>con balcón</span>
            </button>
            <button class="border-radius-right">
              <span>suites</span>
            </button>
          </div>
          <div class="detail-type-cabin">
            <div class="cont-left">
              <div class="box-text-cabin">
                <div class="subtitle">
                  <h4>cabinas internas</h4>
                </div>
                <div class="text-cabin">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eaque natus incidunt sint, porro repellendus consectetur voluptatibus odio eum quas soluta expedita excepturi ab provident quaerat nam culpa! Aut, similique. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit amet consectetur adipisicing elit lorem ipsum.</p>
                </div>
              </div>
              <div class="box-product">
                <div class="price-type-cabin">
                  <!-- CALUGA RESUMEN VIAJE CRUCERO -->
                  <div class="box-price-container">
                    <div class="price-container">
                      <span class="text">desde </span>
                      <span class="before-price">US$1.789</span><br>
                      <span class="usd">US$1.598</span>
                      <span class="clp">($176.487)</span><br>
                      <span class="text">Por persona en cab. doble interna</span>
                    </div>
                    <div class="dcts-container">
                      <span class="porcent">20% </span>
                      <span class="dcto">dcto.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cont-right">
              <div class="slider-img-cabin">
                <ui-carousel #uiCarousel [infinite]="false" [dots]="false" [fade]="false" height="360px" [speed]="1000">
                  <ui-carousel-item *ngFor="let img of product.cabin[0].images; let i = index">
                    <img class="imgCarousel" [src]="img.url" alt="img.alt" draggable="false">
                    <span class="textImg imgCount">{{i+1}}/{{product.images.length}}</span>
                  </ui-carousel-item>
                  <span class="textImg imgLegend">Texto de prueba</span>
                </ui-carousel>
              </div>
            </div>
          </div>
        </div>
        <div class="date-and-price">
          <div class="title-line text-center">
            <span>Fechas y Precios</span>
          </div>
          <span class="subtitle-2">Selecciona una fecha de salida y cotiza tu crucero con un consultor experto</span>
          <div class="container-price">

          </div>
          <div class="info-container-price">
            <div class="subtitle-product text-center">
              <h3>{{product.title}}</h3>
              <span>A bordo del {{product.cruise}} de {{product.company}}</span>
            </div>
            <div class="box-product">
              <div class="price-type-cabin">
                <!-- CALUGA RESUMEN VIAJE CRUCERO -->
                <div class="box-price-container">
                  <div class="price-container">
                    <span class="text">desde </span>
                    <span class="before-price">US$1.789</span><br>
                    <span class="usd">US$1.598</span>
                    <span class="clp">($176.487)</span><br>
                    <span class="text">Por persona en cab. doble interna</span>
                  </div>
                  <div class="dcts-container">
                    <span class="porcent">20% </span>
                    <span class="dcto">dcto.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="cruises-similar">
          <div class="title-line text-center">
            <span>Cruseros similares</span>
          </div>
          <div class="box-pack">

          </div>
          <div class="box-pack">
            
          </div>
      </div>
    </div>
  </div>
</div>
