//*** Stylos Comunes ****//
@import '~sass/variables';

.title-line {
    width: 100%;
    overflow: hidden;
    margin: 30px 0;
    font-family: DINNextLTPro;
    span {
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: $font-size-base + 12;
        background-color: #fff;
        font-weight: 400;
        color: #666;
    }
    :before {
        content: '';
        position: absolute;
        right: 150px;
        height: 0;
        border-top: 1px solid rgba(102, 102, 102, 0.3);
        top: 15px;
        width: 600px;
    }
    :after {
        content: '';
        position: absolute;
        left: 150px;
        height: 0;
        border-top: 1px solid rgba(102, 102, 102, 0.3);
        top: 15px;
        width: 600px;
    }
}

.subtitle-product {
    font-family: DINNextLTPro;
    h3{
        color: #9E9B9A;
        vertical-align: middle;
        font-weight: 300;
        padding: 20px 0;
    }
}

.box-product{
    width: 360px;
    background-color: #fff;
    color: #666;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    float: left;
    .price-container {
        display: inline-block;
        line-height: 1.1;
        position: relative;
        span.before-price{
            font-size: 18px;
            font-family: DINNextLTPro-Condensed;
            color: #E2261C;
            text-decoration: line-through;
        }
        span.usd {
            font-size: $font-size-base + 29;
            font-weight: 500;
            font-family: DINNextLTPro-Condensed;
            letter-spacing: -2px;
            color: #51514F;
            position: relative;
            top: 2px;
            display: inline-block;
        }
        span.clp{
            font-family: DINNextLTPro-Condensed;
            font-size: $font-size-base + 7;
            color: #666;
        }
        span.text{
            font-size: $font-size-base;
            font-family: DINNextLTPro;
        }
    }
    .dcts-container {
        padding: 0 10px;
        color: #fff;
        background-color: #E2261C;
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        font-family: DINNextLTPro-Condensed;
        .porcent {
            font-weight: 400;
            font-family: DINNextLTPro-Condensed;
            font-size: 18px;
            vertical-align: sub;
        }
        .dcto {
            font-size: 15px;
            font-family: Proxima-Nova-extra-condense-light;
            vertical-align: sub;
        }
    }
}

// fin estilos comunes //


.header-detail-product {
    // display: table-cell;
    // vertical-align: middle;
    position: relative;
    .fullpage-detail {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 0;
        transition: background-position .3s ease;
        background-attachment: scroll;
        z-index: -1;
        img {
            width: 100%;
            height: 600px;
            position: absolute;
        }
        &:before {
            // position: absolute;
            // top: 24px;
            // left: 0;
            // bottom: 0;
            // right: 0;
            // max-height: 600px;
            // content: ' ';
            // background: rgba(0,0,0,.45);
            // z-index: 0;
            
            position: absolute;
            content: '';
            background: rgba(0,0,0,.45);
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
        }
        .container {
            width: 100%;
            height: 600px;
            margin: 0 auto;
            position: relative;
            top: 0;
            z-index: 10;
            
            #col-comp-one {
                height: 600px;
            }
            .principal-title {
                top: 20%;
                position: relative;
                h1 {
                    text-transform: uppercase;
                    color: #fff;
                }
                h4{
                    text-transform: uppercase;
                    color: #fff;
                }
            }
            .box-product-container {
                width: 100%;
                position: relative;
                top: 35%;
            }
            .discover-container {
                position: absolute;
                bottom: 0;
                width: 100%;
                .discover {
                    cursor: pointer;
                    padding: 10px 40px 0 40px;
                    background-color: #fff;
                    margin: 0 auto;
                    width: 180px;
                    text-align: center;
                    span {
                        color: #666;
                        text-align: center;
                    }
                    i {
                        display: block;
                    }
                }
            }
        }
    }
}

.description-detail-product {
    margin-top: 80px;
    .container{
        .itinerary {
            .itinerary-description {
                width: 80%;
                margin: 0 auto;
                .itinerary-description-container {
                    width: 100%;
                    height: auto;
                    margin: 30px 0;
                    p {
                        font-size: 18px;
                        line-height: 2;
                        color: #9E9B9A;
                        vertical-align: middle;
                    }
                }
            }
            .destiny {
                width: 90%;
                margin: 0 auto;
                border: 10px solid #f5f5f5;
                margin: 40px auto;
                .line-itinerary-container{
                    padding-bottom: 30px;
                    .line {
                        position: relative;
                        border-top: 1px dashed #666;
                        height: 0;
                        width: 84%;
                        margin: 0 auto;
                    }
                    .place-line {
                        display: inline-block;
                        position: relative;
                        top: -5px;
                        width: calc(100% / 6);
                    }
                    .point-itinerary {
                        height: 10px;
                        width: 10px;
                        margin: 0 auto 7px auto;
                        background: #ccc;
                        border-radius: 50%;
                        position: relative;
                    }
                    .name-city-point {
                        font-size: 14px;
                        color: #9E9B9A;
                    }
                    .name-country-point {
                        font-size: 13px;
                        color: #ccc;
                    }
                    
                }
            }
        }
    }
}

.map-itinerary {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: contain;
    margin: 30px auto;
    img {
        width: 100%;
        max-height: 600px;
        position: relative;
        margin: 0 auto;
    }
}

.on-board {
    .cruisesImages{
        margin-top: 20px;
        .imgCarousel {
            height: 450px;
            width: 100;
        }
        .textImg{
            position: absolute;
            bottom: 25px;
        }
        .imgCount{
            right: 30px;
            color: #fff;
            position: fixed;
            i {
                font-size: $font-size-base + 5;
            }
        }
        .imgLegend {
            color: #fff;
            position: absolute;
            content: '';
            background: rgba(0,0,0,.45);
            padding: 5px 20px 5px 30px;
        }
    }
    .amenities-container-cruise {
        text-align: left;
        background-color: #f3f3f3;
        padding: 10px;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        .box-amenities {
            // width: calc((100% - 1px) / 5);
            width: 19.9%;
            line-height: 35px;
            span {
                display: inline-block;
                text-transform: capitalize;
                font-size: 13px;
                font-weight: 400;
                i{
                    vertical-align: sub;
                    font-size: 22px;
                }
            }
        }
    }
    
    .box-info-cabin {
        position: relative;
        .menu-type-cabin{
            text-align: center;
            margin-bottom: 40px;
            width: 100%;
            outline: none;
            position: relative;
            display: inline-flex;
            button {
                border: 1px solid #ccc;
                text-transform: none;
                height: 40px;
                width: 25%;
                background: transparent;
                transition: all ease .4s;
                font-weight: 300;
                font-size: 14px;
                text-align: center;
                outline: 0 !important;
                text-transform: uppercase;
                vertical-align: middle;
                &:hover:not(.active) {
                    background: #666;
                    border: 1px solid #666;
                    color: #fff;
                    transition: all ease .4s;
                    outline: 0;
                }
                &.active {
                    background: #97959C;
                    border: 1px solid #97959C;
                    color: #fff;
                    outline: 0;
                }
            }
            .border-radius-left{
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
            }
            .border-radius-center  {
                border-radius: 0;
            }
            .border-radius-right {
                border-bottom-right-radius: 20px;
                border-top-right-radius: 20px;
            }
        }
        .detail-type-cabin {
            background-color: #F4F4F4;
            height: auto;
            width: 100%;
            padding: 30px;
            .cont-left {
                width: 35%;
                display: inline-block;
                position: relative;
                top: 0px;
                .box-text-cabin {
                    position: relative;
                    top: 0;
                    
                    .subtitle {
                        margin: 10px 0;
                        
                        h4 {
                            text-transform: capitalize;
                            font-family: DINNextLTPro;
                            font-weight: inherit;
                            font-size: $font-size-base + 14;
                            margin-bottom: 30px;
                            
                        }
                        
                        
                    }
                    .text-cabin {
                        font-size: $font-size-base;
                        color: #666;
                        line-height: 2.2;
                    }
                }
                
            }
            .cont-right {
                width: 63.5%;
                float: right;
                .slider-img-cabin {
                    
                }
            }
        }
    }
    .date-and-price{
        position: relative;
        text-align: center;
        .title-line {
            &:before {
                content: '';
                position: absolute;
                right: 100px;
                height: 0;
                border-top: 1px solid rgba(102, 102, 102, 0.3);
                top: 15px;
                width: 600px;
            }
            &:after {
                content: '';
                position: absolute;
                left: 100px;
                height: 0;
                border-top: 1px solid rgba(102, 102, 102, 0.3);
                top: 15px;
                width: 600px;
            }
        }
        .subtitle-2 {
            font-size: 20px;
            font-weight: 400;
            font-family: DINNextLTPro;
            color: #9E9B9A;
            font-weight: 300;
            position: relative;
            display: block;
            margin-bottom: 30px;
        }
        .container-price {
            width: 35%;
            height: 300px;
            position: relative;
            background-color: #666;
            display: inline-block;
        }
        .info-container-price {
            width: 50%;
            position: relative;
            top: -120px;
            display: inline-block;
            .box-price-container {
                display: inline-block;
            }

        }

    }
    .cruises-similar {
        .box-pack{
            width: 49%;
            height: 300px;
            position: relative;
            background-color: #666;
            display: inline-block;
        }
    }
}

