<div class="componente-uno">
  <div class="header">
    <div class="fullpage-detail" id="home-fullscreen-bg">
      <div id="headerProduct">
        <img [src]="product.image.url" [alt]="product.image.alt" >
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="principal-title">
                <h1 class="main-title">{{product.title | uppercase}}</h1>
                <h2 class="sub-title">A bordo del {{product.cruise}} de {{product.company}}</h2>
              </div>
              <div class="price-block">
                <app-price-block 
                  [day]="product.days" 
                  [mainPrice]="product.price.main"
                  [discount]="product.discount"
                  [secondPrice]="product.price.second"
                  [type]="'tipo1'"
                ></app-price-block>
              </div>
              <div class="discover">
                <span>descubrir</span>
                <i></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="bodyItinerary">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="itinerario ">
                <div class="home-titles">
                  <h2>ITINERARIO</h2>
                </div>
                <div class="content-itinerario">
                  {{product.description}}
                </div>
                <div class="destinos-recorridos">
                  <div class="title-destinos">
                    <h3>Destinos recorridos</h3>
                  </div>
                  <div class="content-destino">
                    <div class="destiny" *ngFor="let destiny of product.destinations">
                      <p class="city">{{destiny.city}}</p>
                      <p class="country">{{destiny.country}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="map-itinerario">
          <img src="assets/img/Desktop/mapa-desktop.jpg">
        </div>
        <div class="list-itinerario">
          <app-itinerary-block [itinerary]="product.itinerary" ></app-itinerary-block>
        </div>
      </div>
      <div id="bodyOnBoard">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="home-titles">
                <h2>A BORDO</h2>
              </div>
              <div class="subtitles">
                <h3>A propósito del barco</h3>
              </div>
              <div class="cruisesImages">
                <ui-carousel [infinite]="false" [dots]="false" [fade]="false" height="450px" [speed]="1000">
                    <ui-carousel-item *ngFor="let img of product.images; let i = index">
                      <img class="imgCarousel" [src]="img.url" alt="img.alt" draggable="false">
                    </ui-carousel-item>
                    <span class="textImg imgLegend">Texto de prueba</span>
                    <span class="textImg imgCount">{{i+1}}/{{product.images.length}}</span>
                </ui-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>