#bodyOnBoard{
    padding-top: 60px;
    .subtitles{
        text-align: center;
        h3{
            font-size: 20px;
            font-weight: 300;
        }        
    }
    .cruisesImages{
        padding-bottom: 30px;
        .imgCarousel{
            height: 100%;
        }
        .textImg{
            position: absolute;
            bottom: 25px;
        }
        .imgCount{
            right: 30px;
            color: #fff;
        }
    }
}

.content-destino{
    display: flex;
    justify-content: space-between;
    .destiny{
        p{
            margin: 0;
        }
    }
}

.content-itinerario{
    padding: 25px;
    text-align: center;
}

.destinos-recorridos{
    border: 5px solid lightgray;
    padding: 10px 20px;
    .title-destinos{
        text-align: center;
        padding-bottom: 40px;
    }
    .content-destino{
        color: gray;
        padding-bottom: 20px;
    }
}

.fullpage-detail{
    img{
        width: 100%;
    }
}

.home-titles {
    line-height: .5;
    text-align: center;
    width: 100%;
    overflow: hidden;
    h2{
        display: inline-block;
        position: relative;
        font-weight: 400;
        text-transform: uppercase;
        font-weight: inherit;
        letter-spacing: 1px;
        font-size: 23px;
        &:before, &:after{
            content: "";
            position: absolute;
            height: 0;
            border-top: 1px solid rgba(102, 102, 102, 0.3);
            top: 10px;
            width: 600px;
        }
        &:before{
            right: 100%;
            margin-right: 30px;
        }
        &:after{
            left: 100%;
            margin-left: 30px;
        }
    }
}

.map-itinerario{
    padding-top: 30px;
    padding-bottom: 20px;
}

.price-block{
    width: 700px;
    position: relative;
}