<!--
<div class="info-product">
  <div *ngIf="day" class="cube-num-days">
    <span class="cube-day">{{day}}</span> <br>
    <span class="cube-text">DÍAS</span>
  </div> 
  <div class="price-container">
    <div class="from">
      <span>desde</span>
      <div class="before-price">
        <span>{{mainPrice.currency | currencyMoney}} {{mainPrice.price | number | comaInPoint}}</span>
      </div>
    </div>
    <div class="usd" [ngClass]="{'in-line': type=='tipo2'}">
      <span>{{mainPrice.currency | currencyMoney}} {{ mainPrice.price * ((100-discount)/100) | number | comaInPoint }}</span>
    </div>
    <div class="clp">
      <span>({{secondPrice.currency | currencyMoney}} {{ secondPrice.price | number | comaInPoint }})</span>
    </div>
    <div class="text" [ngClass]="{'in-line': type=='tipo1'}">
      <span>Por persona en cab. doble interna {{type}}</span>
    </div>
  </div> 
  <div class="dcts-container">
    <span class="number">{{discount}}%</span>
    <span class="dcto">dcto.</span>
  </div>
</div>
-->

<div class="box-product">
  <div *ngIf="day" class="cube-num-days">
    <span class="number-cube">{{day}}</span>
    <span class="day-cube">días</span>
  </div>
  <div class="price-container">
    <span class="text">desde </span>
    <span class="before-price">{{mainPrice.currency | currencyMoney}}{{mainPrice.price | number | comaInPoint}}</span>
    <span class="usd">{{mainPrice.currency | currencyMoney}}{{ mainPrice.price * ((100-discount)/100) | number | comaInPoint }}</span>
    <span class="clp">({{secondPrice.currency | currencyMoney}}{{ secondPrice.price | number | comaInPoint }})</span>
    <span class="text">Por persona en cab. doble interna</span>
  </div>
  <div class="dcts-container">
    <span class="porcent">{{discount}}% </span>
    <span class="dcto">dcto.</span>
  </div>
</div>