@import '~sass/variables';
.box-product{
    width: 390px;
    background-color: #fff;
    color: #666;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    .cube-num-days {
        width: 95px;
        height: auto;
        color: #51514F;
        border: 1px solid #666;
        text-align: center;
        display: inline-block;
        margin-right: 10px;
        padding: 8px;
        line-height: 1.0;
        .day-cube {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 500;
            font-family: DINNextLTPro;
        }
        .number-cube {
            display: block;
            font-family: DINNextLTPro;
            font-weight: 500;
            font-size: 55px;
        }
    }
    .price-container {
        display: inline-block;
        line-height: 1.1;
        position: absolute;
        top: 12px;
        span.before-price{
            font-size: 18px;
            font-family: DINNextLTPro-Condensed;
            color: #E2261C;
            text-decoration: line-through;

        }
        span.usd {
            font-size: $font-size-base + 29;
            display: block;
            font-weight: 500;
            font-family: DINNextLTPro-Condensed;
            letter-spacing: -2px;
            color: #51514F;
            position: relative;
            top: 2px;
        }
        span.clp{
            font-family: DINNextLTPro-Condensed;
            font-size: $font-size-base + 7;
            color: #666;
        }
        span.text{
            font-size: $font-size-base;
            font-family: DINNextLTPro;
        }
    }
    .dcts-container {
        padding: 0 10px;
        color: #fff;
        background-color: #E2261C;
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        font-family: DINNextLTPro-Condensed;
        .porcent {
            font-weight: 400;
            font-family: DINNextLTPro-Condensed;
            font-size: 18px;
            vertical-align: sub;
        }
        .dcto {
            font-size: 15px;
            font-family: Proxima-Nova-extra-condense-light;
            vertical-align: sub;
        }
    }
}

.info-product{
    display: flex;
    border: 1px solid gray;
    .cube-num-days{
        margin: 15px;
        border: 1px solid gray;
        padding-left: 18px;
        padding-right: 11px;
        .cube-day{
            font-weight: 600;
            font-size: 43px;
            letter-spacing: 8px;
            line-height: 1;
        }
        .cube-text{
            font-weight: 500;
            font-size: 20px;
            padding-left: 8px;
            line-height: 1;
        }
    }
    .price-container{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 1;
        .from{
            font-size: 14px;
            color: gray;
            .before-price{
                padding-left: 5px;
                font-weight: 400;
                font-size: 17px;
                color: #E2261C;
                span{
                    text-decoration: line-through;
                }
            }
            span, .before-price{
                display: inline-block;
            }      
        }
        .usd{
            font-weight: 400;
            font-size: 38px;
            letter-spacing: -2px;
        }
        .clp{
            font-weight: 400;
            font-size: 18px;
            display: inline-block;
        }
        .text{
            font-size: 12px;
        }
        .in-line{
            display: inline-block;
        }
    }
    .dcts-container{
        position: absolute;
        right: 0;
        background: #E2261C;
        height: 32px;
        padding: 2px 6px;
        color: #fff;
        text-align: right;
        z-index: 10;
        font-weight: 400;
        .number{
            font-size: 22px;
        }
        .dcto{
            font-size: 18px;
        }
    }
}
