@import '~sass/variables';

.days-itinerary {
    margin-bottom: 90px;
    .row {
        margin: 3px 0;
    }
    .img-days-itinerary {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: auto;
            z-index: -1;
        }
        .container-day-itinerary {
            background: rgba(255, 255, 255, 0.9);
            width: 385px;
            height: 100%;
            z-index: 10;
            color: #666;
            padding: 50px 20px;
            position: absolute;
            margin: 0 auto;
            top: 0;
            font-family: DINNextLTPro;
            &.odd {
                right: 0;
            }
            .cube-day-itinerary{
                width: 105px;
                height: 115px;
                color: #444242;
                border: 1px solid #666;
                text-align: center;
                display: inline-block;
                margin-right: 10px;
                padding: 20px;
                line-height: 1.1;
                .text-cube-day {
                    font-size: 20px;
                    display: block;
                    text-transform: uppercase;
                    font-weight: 500;
                }
                .number-cube-day{
                    font-size: 60px;
                    display: block;
                }
            }
            .city-day-itinerary{
                line-height: 2.2;
                text-transform: uppercase;
                margin-top: 50px;
                font-size: $font-size-base + 14;
                .text-city-day {
                    color: #5b5b5f;
                    font-weight: 500;
                }
                .text-country-day{
                    color: #5b5b5f;
                }
            }
            .departure-day-itinerary {
                
                .text-departure-hour,
                .text-arrival-hour,
                .text-destination,
                .text-optional{
                    font-size: $font-size-base + 5;
                    color: #707072;
                    font-weight: 500;
                    
                }
                .text-optional {
                    font-weight: 400;
                }
            }
        }
    }
}

.blurred-container {
    overflow: hidden;
    img {
      filter: blur(10px);
    }
    .container-day-itinerary {
      filter: blur(10px);
      background: rgba(255, 255, 255, 0.6);
    }
    .blurred-overlay {
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 0;
      text-align: center;
      z-index: 15;
      .select-btn {
        display: inline;
        font-weight: 400;
        border-radius: 15px;
        background: #E2261C;
        text-transform: uppercase;
        outline: 0;
        border: 1px solid #E2261C;
        color: #fff;
        transition: all ease .4s;
        height: 30px;
        padding: 6px 25px;
        font-size: 13px;
        margin-top: 11%;
      }
    }
  }

  .not-blurred .select-btn {
    display: none;
  }

  .days-itinerary [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
