.form__container {
  font-family: DINNextLTPro;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(70, 70, 70, 0.6);
    z-index: -1;
  }
  .form__img--bg {
    height: 100%;
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  .form__btn--close {
    cursor: pointer;
    position: absolute;
    z-index: 9;
    transition: all .3s ease;
    text-transform: uppercase;
    font-size: 10px;
  }
  .form__btn--close.desktop {
    right: 10px;
    top: 10px;
    height: 25px;
    border: none;
    border-radius: 15px;
    background: #fff;
    color: #666;
    padding: 7px 13px;
    &:hover {
      background: #666;
      color: #fff;
    }
  }
  .form__btn--close.mobile {
    border: 1px solid #ccc;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 30px;
    padding: 5px;
    right: 20px;
    top: 20px;
    width: 30px;
  }
  .form__large {
    .form__title--main {
      color: #fff;
      display: table;
      margin: 0 auto;
      padding-top: 4rem;
      h1 {
        border-bottom: 1px solid #ccc;
        color: #fff;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        padding: 0 100px;
      }
      h2 {
        font-size: 1.3rem;
        font-weight: 100;
        line-height: 2.5;
        text-align: center;
      }
    }
    .form__wizard-container {
      color: #fff;
      height: 250px;
      .form__step {
        .form__title--inner {
          h3 {
            align-items: center;
            color: #fff;
            display: flex;
            font-size: 1.5rem;
            justify-content: center;
            font-weight: 300;
            transition: opacity .3s ease;
          }
          i {
            height: 40px;
            width: 40px;
            border: 1px solid #fff;
            border-radius: 50%;
            padding: 5px;
            margin-right: 10px;
            font-size: 28px;
          }
        }
        .form__content {
          display: flex;
          .form__step--left {
            width: 50%;
          }
          .form__step--right {
            width: 50%;
          }
          .form__text {
            color: #fff;
            display: inline-flex;
            font-size: 1rem;
            font-weight: 100;
            margin: 0;
            transition: margin .3s ease;
            vertical-align: middle;
          }
          .form__input-container {
            display: inline-flex;
          }
          .form__input {
            height: 30px;
            font-size: 1rem;
            border: none;
            border-bottom: 1px solid #ccc;
            padding: 2px 5px 2px 10px;
            color: #fff;
            background: 0 0;
            outline: 0;
            font-weight: 300;
            width: 100%;
            &::placeholder {
              color: rgba(255, 255, 255, 0.8);
            }
          }
          .form__select--container {
            display: inline-flex;
          } // Step 4
          .form__button-container {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            padding: 0 200px;
            .form__button {
              cursor: pointer;
              margin: 15px;
              height: 50px;
              border: 1px solid #ccc;
              border-radius: 5px;
              background: 0 0;
              color: #fff;
              font-weight: 300;
              transition: background .4s ease;
              padding: 0 2.5rem;
              &:hover,
              &--selected {
                background: rgba(255, 255, 255, 0.4);
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    .form__steps {
      color: #fff;
      display: flex;
      flex-flow: nowrap;
      justify-content: space-between;
      margin: auto;
      &--number {
        font-weight: 100;
        text-align: center;
      }
      &--bullets {
        color: rgba(255, 255, 255, 0.3);
      }
      .current {
        color: #ffffff
      }
    }
    .form__action-buttons {
      color: #ffffff;
      margin: 0 auto;
      .form__button {
        background: transparent;
        border: 1px solid #ccc;
        border-radius: 50%;
        height: 2.5rem;
        margin: 0 10px;
        width: 2.5rem;
        transition: width .2s ease;
        i {
          align-items: center;
          color: #ccc;
          display: flex;
          justify-content: center;
        }
        &--consultant {
          background: #E72125;
          border-color: #E72125;
          border-radius: 18px;
          color: #ffffff;
          width: 115px;
          font-weight: 300;
          text-transform: uppercase;
        }
      }
      .form__button--sep {
        border-right: 1px solid #ccc;
        height: 2rem;
        margin: 0 15px;
      }
    }
  }
}
